body{
    margin: 0px;
}
/* Body header */
#body-header{
    height:65vh;
    opacity: 0.8;
    background-image:url(coding-vs-programming-2.webp);
    background-size: cover;
    /* background-size: 100%; */
    background-position: center;
    background-attachment: fixed;
    /* background-repeat:no-repeat; */
    padding-top:1.2rem;
}
/* Horizontal list */
.horizontal-list{
    list-style: none;
    padding-left:0px;
    margin:0px;
    
}
.horizontal-list li{
    display: inline-block;
    margin:0px 8px 0px 8px;
    font-weight:100;
    font-size:0.9rem;
}
.horizontal-list li a{
    color:white;
    text-decoration: none;
    
}
.horizontal-list li a:hover{
    color:slategray;
    text-decoration: underline;
    
    transition: color 0.5s text-decoration 4s;
}
.text-center{
    text-align: center;
}
/* Name and social Icons */
#name-social-container{
    margin-top:13vh;
}
#my-name{
    font-size:3rem;
    letter-spacing:0.1rem;
    color:white;
    font-weight:700;
    margin-bottom:0.5rem;
}
.social-icons li a i{
    padding:10px;
    font-size:1rem;
    border-radius:50%;
}
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.2);
}
/* Common margin class */
.mb75px{
    margin-bottom: 75px;
}
section{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
}
section:nth-child(2n){
    background-color: gray;
}
section:nth-child(2n+1){
    background-color: white;
}
.section-heading{
    width:auto;
    padding:20px 10px 10px;
    /* margin:10px auto; */
    font-weight:400;
}
.section-heading span{
    font-size:40px;
    color:#2857a4;
    display:inline-block;
    padding-top:10px;
    margin-right:0.5rem;
}
/* About */
#about{
    height:auto;
    width:100%;
    position:relative;
}
/* .text{
    text-align: justify;
    font-size: 1.5rem;
    color:grey;

} */
#my-image{
    height:12rem;
    width:12rem;
    margin:auto;
    margin-top:-15vh;
    
}

#my-image img{
    height:100%;
    width:100%;
    border-radius: 50%;
    border:2px solid white;
    box-shadow: 0px 0px 6px 4px ;
}

#about-para{
    padding:10px;
    width:70%;
    height:100%;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color:grey;
    line-height:28px;
    font-weight:100;
    font-size:1.1rem;
}
/* Skills section */
.skills-display{
    width:70%;
    /* height:100px; */
    /* border: 2px solid black; */
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    
}
.skill-progress{
    width:7rem;
    height:1.4rem;
    background-color:lightgrey;
    border-radius: 0.8rem;
    margin:10px;
}
.skill-progress>div{
    border-radius:20px 0px 0px 20px;
}
.skill-name span{
    color:rgba(7, 185, 244, 0.868);
    font-size: 1rem;
    margin-left: 10px;
}
.mb-blue{
    background-color: #062b65;
}
.mb-green{
    background-color: #043a19;
}
.mb-orange{
    background-color: #f94e05;
}
.mb-yellow{
    background-color: #4e4403;
}
.mb-violet{
    background-color: #290548;
}
.mb-red{
    background-color: #500808;
}
.mb-brown{
    background-color: #410b02;
}
/* Percentage classes */
.eighty-five-percent{
    width:85%;
    height:inherit;
   
}
.Seventy-five-percent{
    width:75%;
    height:inherit;
   
}
.Sixty-percent{
    width:60%;
    height:inherit;
   
}
.Forty-percent{
    width:40%;
    height:inherit;
   
}